@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {


    html {
        font-family: 'Open Sans', sans-serif;
    }
    h1 {
      @apply text-3xl sm:text-5xl text-primary font-bold mb-6 ;
    }
    h2 {
      @apply text-2xl sm:text-4xl text-primary font-normal my-2;
    }
    h3 {
      @apply text-2xl font-bold mt-5 mb-2;
    }
      h4 {
        @apply text-xl font-bold my-2;
      }

    a {
      @apply text-primary font-semibold;
    }
    .headline {
      @apply font-light text-2xl mt-12 mb-16 text-gray-500;
    }

  }

  .top-home {
    background-image: linear-gradient(90deg,#182b29,#0b1616);
    @apply h-50v md:h-30v px-6 sm:px-8;
    
    background-position: top;
    padding-bottom: 50px;
    min-height: 280px;
    max-height: 700px;
  }
    /* @media (min-width: 640px) {
     .top-home {
      min-height: 450px !important;
    }
  } */
    .top-help {
      background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5)),url(/public/img/helpbox.jpg);
      background-position: top;
      @apply h-50v px-6 sm:px-8;
      padding-bottom: 50px;
      min-height: 300px;
      max-height: 550px;
    }
    .top-capacity {
      background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.616)),url(/public/img/capacity.jpg);
      @apply h-50v px-6 sm:px-8;
      padding-bottom: 50px;
      min-height: 300px;
      max-height: 550px;
    }
    .top-events {
      background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),url(/public/img/eventsbox.jpg);
      @apply h-50v px-6 sm:px-8;
      padding-bottom: 50px;
      min-height: 300px;
      max-height: 550px;
    }
      @media (min-width: 640px) {
       .top-help,.top-capacity,.top-events {
        min-height: 450px !important;
      }

  }

.supportimg {
  background-image: linear-gradient(180deg,hsla(0,0%,100%,0),rgba(0,0,0,.3)),url(/public/img/wedodata.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 100%;

}
.event {
  border-bottom: 1px solid #dce0e4;  
}

@layer components {
    .btn-box {
      @apply py-2 px-4  text-white font-semibold bg-primary hover:bg-white hover:bg-primary-dark  transition-all ease-out duration-300 px-6 py-4 w-full h-full;
    }
    /* .btn-box {
      @apply py-2 px-4  text-white font-semibold border-2 border-white hover:bg-white hover:bg-opacity-60 hover:text-black transition-all ease-out duration-300 px-6 py-4 w-full h-full;
    } */
    .btn-box h3 {
      @apply my-0;
    }
    .btn-primary {
      @apply py-3 px-8  mt-8 text-white bg-primary rounded-md font-semibold hover:bg-primary-dark transition-all ease-out duration-300 ;
      }

    .btn-circle {
      @apply bg-black border-black text-white;
    }
.resource-cards h3,.resource-cards p{
@apply text-white ;
min-height: 5rem;
}
.resource-cards .image-full::before {
  background-color: transparent;
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 1) 70%);
  opacity: 80%;
}
    .divider {
      @apply bg-primary;
      height: .4rem;
      margin-bottom: 1.5rem;
      margin-top: 0.7rem;
      position: relative;
      width: 60px;

    }
.callboxes .image-full::before {
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6)) !important;
}
.callboxes .card-body p{
  min-height: 0rem !important;
  }

  .callboxes figure img{
    height: auto !important;
  
  }

    /* #grantees {
      background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.616)),url(/public/img/helpbox.jpg);
      background-position: top;
      background-size: 1600px;
    }
    #capacity {
      background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.616)),url(/public/img/capacity.jpg);
      background-position: top left;
      background-size: 1000px;
    }
    #events {
      background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.616)),url(/public/img/eventsbox.jpg);
      background-position: left center;
      background-size: 900px;
    }
    @media (min-width: 900px) {
      #grantees,#capacity,#events {
     
      background-size: cover;
    }

  } */



    /* Countering daisyui's ugly green active state */
    .menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active), .menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul):active)
    {
     background-color: white;
     color: black;
    }

  }

